<?xml version="1.0" encoding="UTF-8"?>

<Configuration name="DEV" status="ERROR">
 

	<Appenders>
	
		 <!-- Console Appender -->
	    <Console name="Console" target="SYSTEM_OUT">
	      <PatternLayout pattern="%d{yyyy-MMMM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
	    </Console>
	    
	    <!-- Console Appender -->
<!-- 	    <Console name="Console" target="SYSTEM_OUT"> -->
<!-- 			<PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n" /> -->
<!-- 		</Console> -->
	    

	    <!-- File Appender -->
<!-- 	    <File name="File" fileName="c:/log/app.log"> -->
<!-- 	      <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" /> -->
<!-- 	    </File> -->
		
 		<!-- RollingFile Appender -->
		<RollingFile name="RollingFile" filename="${bundle:configuration_ressources_externes:logs}/log4j2.log"
			filepattern="${logPath}/%d{YYYYMMddHHmmss}-fargo.log">
			<PatternLayout pattern="%d{yyyy-MMMM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
<!-- 			<PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n" /> -->
			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
		
	</Appenders>
	
	<Loggers>
	
		<Root level="fatal">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Root>

		<Logger name="org.apache" 
			level="info" additivity="false">
	      <AppenderRef ref="Console" />
	      <AppenderRef ref="RollingFile" />
	    </Logger>

		<Logger name="org.apache.tomcat" 
			level="info" additivity="false">
	      <AppenderRef ref="Console" />
	      <AppenderRef ref="RollingFile" />
	    </Logger>

		<Logger name="org.apache.tomcat.util.digester.SetPropertiesRule" 
			level="info" additivity="false">
	      <AppenderRef ref="Console" />
	      <AppenderRef ref="RollingFile" />
	    </Logger>

		<Logger name="org.apache.catalina" 
			level="info" additivity="false">
	      <AppenderRef ref="Console" />
	      <AppenderRef ref="RollingFile" />
	    </Logger>

		<Logger name="org.apache.catalina.startup.VersionLoggerListener" 
			level="info" additivity="false">
	      <AppenderRef ref="Console" />
	      <AppenderRef ref="RollingFile" />
	    </Logger>


		<Logger name="org.apache.jasper" 
			level="info" additivity="false">
	      <AppenderRef ref="Console" />
	      <AppenderRef ref="RollingFile" />
	    </Logger>
	    
	    
	    <Logger name="org.springframework" 
			level="info" additivity="false">
	      <AppenderRef ref="Console" />
	      <AppenderRef ref="RollingFile" />
	    </Logger>
	    
	    <!-- Log everything in hibernate -->
	    <Logger name="org.hibernate" level="fatal" additivity="false">
<!-- 	    <Logger name="org.hibernate" level="fatal" additivity="false"> -->
	      <AppenderRef ref="Console" />
	      <AppenderRef ref="RollingFile" />
	    </Logger>
	
	    <!-- Log SQL statements -->
<!-- 	    <Logger name="org.hibernate.SQL" level="debug" additivity="false"> -->
	    <Logger name="org.hibernate.SQL" level="fatal" additivity="false">
	      <AppenderRef ref="Console" />
<!-- 	      <AppenderRef ref="File" /> -->
	    </Logger>
	
	    <!-- Log JDBC bind parameters -->
<!-- 	    <Logger name="org.hibernate.type.descriptor.sql" level="trace" additivity="false"> -->
	    <Logger name="org.hibernate.type.descriptor.sql" level="debug" additivity="false">
	      <AppenderRef ref="Console" />
	      <AppenderRef ref="RollingFile" />
<!-- 	      <AppenderRef ref="File" /> -->
	    </Logger>
	
	    <!-- Log custom packages -->
<!-- 	    <Logger name="levy.daniel.application" level="debug" additivity="false"> -->
	    <Logger name="levy.daniel.application" level="fatal" additivity="false">
	      <AppenderRef ref="Console" />
	      <AppenderRef ref="RollingFile" />
<!-- 	      <AppenderRef ref="File" /> -->
	    </Logger>
	    
	    
		
	</Loggers>
	
</Configuration>